#adc_block-screen {
  display: inline-block;
}
#adc_block-timeZone {
  display: inline-block;
  margin: auto;
  padding: 15px;
}
#adc_block-timeZone p {
  margin: 10px;
  text-align: center;
}
#adc_block-digitaltime {
  font-weight: bold;
}
#adc_block-date {
  font-weight: bold;
}
#adc_block-description {
  font-weight: bold;
  margin: 10px;
}
