{#
/**
 * @file
 *
 * Default template for faq block.
 *
 * Available variables:
 * - content: Array of related details.
 *   use {{ content.heading }} and content.footer for the header and footer
 * - data: json data of the clock config data
 *
 * @ingroup themeable
 */
 #}
 <div class="adc_block-analog-container">
 	{% if content.heading %}
 		<div class="adc_block-heading">{{ content.heading|raw }}</div>
 	{% endif %}
 	{% if data %}
 		<div class="adc_block-clock">
 			<canvas class = "adc_block-analog" height="400" data-config="{{ data }}"></canvas>
 		</div>
 	{% endif %}
 	{% if content.footer %}
 		<div class="adc_block-footer">{{ content.footer|raw }}</div>
 	{% endif %}
 </div>
