{#
/**
 * @file
 *
 * Default template for faq block.
 *
 * Available variables:
 * - faqs: Array of faq related file details.
 *   use {{ faq.question }} and faq.answer['value']inside the loop
 *
 * @ingroup themeable
 */
 #}
{% set container_style = 'background: ' ~ data.container_backgraound_color ~ ';' %}
{% set container_shadow = data.container_box_shadow_enable
    ? 'box-shadow: 0 1px 4px ' ~ data.container_box_shadow ~ ', 0 0 40px ' ~ data.container_box_shadow ~ ' inset, 0 15px 10px -10px ' ~ data.container_box_shadow ~ ', 0 1px 4px ' ~ data.container_box_shadow ~ ', 0 0 40px ' ~ data.container_box_shadow ~ ' inset;'
    : '' %}

{% set time_text_shadow = data.time_text_shadow_enable
    ? 'text-shadow: 0px 2px 25px ' ~ data.time_text_shadow ~ ';'
    : '' %}

{% set date_text_shadow = data.date_text_shadow_enable
    ? 'text-shadow: 0px 2px 25px ' ~ data.date_text_shadow ~ ';'
    : '' %}

{% set description_text_shadow = data.description_text_shadow_enable
    ? 'text-shadow: 0px 2px 25px ' ~ data.description_text_shadow ~ ';'
    : '' %}

{% set digitaltime_style = 'color: ' ~ data.time_color ~ ';' ~ time_text_shadow ~ 'font-size: ' ~ data.time_font_size ~ 'px;' %}
{% set date_style = 'color: ' ~ data.date_color ~ ';' ~ date_text_shadow ~ 'font-size: ' ~ data.date_font_size ~ 'px;' %}
{% set description_style = 'color: ' ~ data.description_color ~ ';' ~ description_text_shadow ~ 'font-size: ' ~ data.description_font_size ~ 'px;' %}

<div id="adc_block-screen" style="{{ container_style ~ container_shadow }}">
    <div id="adc_block-timeZone">
        <p id="adc_block-digitaltime" class="adc_block-digitaltime" {% if data.timezone != '' %} data-timezone="{{ data.timezone }}" {% endif %} style="{{ digitaltime_style }}">00:00:00 PM</p>
        {% if data.show_date %}
            <p id="adc_block-date" style="{{ date_style }}">{{ data.current_date }}</p>
        {% endif %}
        {% if data.description_text != '' %}
            <p id="adc_block-description" style="{{ description_style }}">{{ data.description_text|raw }}</p>
        {% endif %}
    </div>
</div>
